
<link href="~/css/Admin.css" rel="stylesheet" />

<body>
    <h1>Wat wil je doen</h1>
    <br />
    <a asp-action="CreateStudentPage" class="btn btn-primary">Leerling Toevoegen</a>
    <br />
    <br />
    <a asp-action="CreateSchoolClassPage" class="btn btn-primary">Klas Creëeren</a>
    <br />
    <br />
    <a asp-action="CreateTeacherPage" class="btn btn-primary">Docent Toevoegen</a>
</body>

